<h1>Shanes Three.js Journey</h1>
<h4>Lessons:</h4>
<h6>Basics:</h6>
<ul>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-four']">Lesson 4 - Basic Scene</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-five']">Lesson 5 - Transform Objects</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-six']">Lesson 6 - Animations</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-seven']">Lesson 7 - Cameras</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-eight']">Lesson 8 - Fullscreen and Resizing</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-nine']">Lesson 9 - Geometries</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-ten']">Lesson 10 - Debug UI</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-eleven']">Lesson 11 - Textures</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twelve']">Lesson 12 - Materials</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-thirteen']">Lesson 13 - 3D Text</a>
  </li>
</ul>
<h6>Classic techniques:</h6>
<ul>
  <li class="" [routerLinkActive]="['link-active']">
    <!--<a class="" [routerLink]="['/lesson-thirteen']">Lesson 13 - 3D Text</a>-->
  </li>
</ul>
