<h1>Shanes Three.js Journey</h1>
<h6>Following Bruno Simons Three.js Course:
  <a href="https://threejs-journey.com/"> threejs-journey.com</a>
</h6>
<h4>Lessons:</h4>
<h6>Basics:</h6>
<ul>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-four']" class="">Lesson 4 - Basic Scene</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-five']" class="">Lesson 5 - Transform Objects</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-six']" class="">Lesson 6 - Animations</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-seven']" class="">Lesson 7 - Cameras</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-eight']" class="">Lesson 8 - Fullscreen and Resizing</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-nine']" class="">Lesson 9 - Geometries</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-ten']" class="">Lesson 10 - Debug UI</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-eleven']" class="">Lesson 11 - Textures</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-twelve']" class="">Lesson 12 - Materials</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-thirteen']" class="">Lesson 13 - 3D Text</a>
  </li>

</ul>
<h6>Classic techniques:</h6>
<ul>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-fifteen']" class="">Lesson 15 - Lights</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-sixteen']" class="">Lesson 16 - Shadows</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-seventeen']" class="">Lesson 17 - Haunted House</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-eighteen']" class="">Lesson 18 - Particles</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-nineteen']" class="">Lesson 19 - Galaxy Generator</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-twenty']" class="">Lesson 20 - RayCaster</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-twenty-one']" class="">Lesson 21 - Scroll Based Animation</a>
  </li>
</ul>
<h6>Advanced techniques:</h6>
<ul>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-twenty-two']" class="">Lesson 22 - Physcis</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-twenty-three']" class="">Lesson 23 - Imported Models</a>
  </li>
</ul>

<h6>Shaders</h6>
<ul>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-twenty-seven']" class="">Lesson 27 - Shaders</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-twenty-eight']" class="">Lesson 28 - Shader Patterns</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-twenty-nine']" class="">Lesson 29 - Raging Sea</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-thirty']" class="">Lesson 30 - Animated Galaxy</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-thirty-one']" class="">Lesson 31 - Modified Materials</a>
  </li>
</ul>
<h6>Extra</h6>
<ul>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-thirty-two']" class="">Lesson 32 - Post-Processing</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-thirty-three']" class="">Lesson 33 - Performance Tips</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-thirty-four']" class="">Lesson 34 - Intro and Loading Progress</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-thirty-five']" class="">Lesson 35 - Mixing HTML and WebGl</a>
  </li>
</ul>

<h6>Portal Scene</h6>
<ul>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/lesson-thirty-eight']" class="">Lesson 38 - Import & Optimising The Scene</a>
  </li>
</ul>

<h6>Own Practise</h6>
<ul>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/practise']" class="">Practise</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/sand']" class="">Sand Example</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/roof']" class="">Roof Example</a>
  </li>
  <li [routerLinkActive]="['link-active']" class="">
    <a [routerLink]="['/tiles']" class="">Tiles Example</a>
  </li>
</ul>
