<h1>Shanes Three.js Journey</h1>
<h6>Following Bruno Simons Three.js Course:
  <a href="https://threejs-journey.com/"> threejs-journey.com</a>
</h6>
<h4>Lessons:</h4>
<h6>Basics:</h6>
<ul>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-four']">Lesson 4 - Basic Scene</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-five']">Lesson 5 - Transform Objects</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-six']">Lesson 6 - Animations</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-seven']">Lesson 7 - Cameras</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-eight']">Lesson 8 - Fullscreen and Resizing</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-nine']">Lesson 9 - Geometries</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-ten']">Lesson 10 - Debug UI</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-eleven']">Lesson 11 - Textures</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twelve']">Lesson 12 - Materials</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-thirteen']">Lesson 13 - 3D Text</a>
  </li>

</ul>
<h6>Classic techniques:</h6>
<ul>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-fifteen']">Lesson 15 - Lights</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-sixteen']">Lesson 16 - Shadows</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-seventeen']">Lesson 17 - Haunted House</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-eighteen']">Lesson 18 - Particles</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-nineteen']">Lesson 19 - Galaxy Generator</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twenty']">Lesson 20 - RayCaster</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twenty-one']">Lesson 21 - Scroll Based Animation</a>
  </li>
</ul>
<h6>Advanced techniques:</h6>
<ul>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twenty-two']">Lesson 22 - Physcis</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twenty-three']">Lesson 23 - Imported Models</a>
  </li>
</ul>

<h6>Shaders</h6>
<ul>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twenty-seven']">Lesson 27 - Shaders</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twenty-eight']">Lesson 28 - Shader Patterns</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-twenty-nine']">Lesson 29 - Raging Sea</a>
  </li>
  <li class="" [routerLinkActive]="['link-active']">
    <a class="" [routerLink]="['/lesson-thirty']">Lesson 30 - Animated Galaxy</a>
  </li>
</ul>
