<canvas class="webgl" #canvas id="canvas"></canvas>
<div #loadingBar class="loadingBar"></div>

<div #pointZero class="point point-0">
  <div class="label">1</div>
  <div class="text">Front and top screen with HUD aggregating terrain and battle informations.</div>
</div>
<div #pointOne class="point point-1">
  <div class="label">2</div>
  <div class="text">Ventilation with air purifier and detection of environment toxicity.</div>
</div>
<div  #pointTwo class="point point-2">
  <div class="label">3</div>
  <div class="text">Cameras supporting night vision and heat vision with automatic adjustment.</div>
</div>
